/**
 * File Name: _archive.scss
 * Description: Brightseed website theme archive page styling
 * Version: 1.0.0
 * Author: Carl Scrivener
 * Author URI: http://brightseed.io
 * Theme URI: http://brightseed.io
 *
 * Copyright: ©, 2020, Carl Scrivener. All rights reserved.
 */
.archive-title {
  font-size: 46px;
  font-weight: bold;
}
.archive-header {
  margin-top: 150px;
  h1 {
    font-size: 46px;
  }
}
.archive-header-inner {
  padding: 0 25px;
}
