/**
 * File Name: _front-page.scss
 * Description: Brightseed website theme front page styling
 * Version: 1.0.0
 * Author: Carl Scrivener
 * Author URI: http://brightseed.io
 * Theme URI: http://brightseed.io
 *
 * Copyright: ©, 2020, Carl Scrivener. All rights reserved.
 */
#home-slider {
  position: relative;
  padding: 0;
}
#introduction {
  padding: 100px 0;
  background-color: $brand-color;
  color: $secondary-text-color;
  a {
    color: $secondary-text-color;
  }
  .welcome-block {
    img {
      border: 3px solid $secondary-text-color;
      border-radius: 50%;
      margin: 0 25px 15px 0;
      max-width: 100px;
      @include md {
        margin-right: 35px;
      }
    }
  }
  .message-body {
    font-size: 22px;
    line-height: 20px;
    padding-bottom: 45px;
    .highlight-text {
      font-size: 30px;
    }
    @include md {
      padding-bottom: 70px;
    }
  }
  @include md {
    padding: 150px 0;
  }
}
.welcome-message {
  padding: 0 50px;
  img {
    display: block;
    height: auto;
    max-width: 100px;
    float: left;
  }
  p {
    font-size: 13px;
    margin-left: 135px;
  }
}
.recent-works-phone-container {
  position: absolute;
  display: none;
  > img {
    width: 100%;
    max-width: 350px;
  }
  @include rwd(1024) {
    display: block;
  }
  .phone-swipe-area {
    position: absolute;
    width: 100%;
    max-width: 350px;
    height: 700px;
    cursor: pointer;
  }
}
.service-icon {
  border: 3px solid transparent;
  display: inline-block;
  height: 180px;
  width: 100%;
  max-width: 200px;
  line-height: 101px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  img {
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  i {
    -webkit-transform: rotate(-48deg);
    -moz-transform: rotate(-48deg);
    -ms-transform: rotate(-48deg);
    -o-transform: rotate(-48deg);
    transform: rotate(-48deg);
  }
}
.service-icon-small {
  height: 125px;
  width: 125px;
  margin: 0;
}
.service-item {
  margin-top: 30px;
  margin-bottom: 50px;
  &:hover {
    .service-icon-fa {
      margin-bottom: 20px;
    }
    .service-icon {
      img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }
  h3 {
    font-size: 20px;
  }
  @include md {
    margin-top: 0;
  }
}
.workflow-icon {
  img {
    max-height: 400px !important;
    max-width: 400px !important;
  }
}
.technologies-title {
  margin-top: 50px;
}
.technologies-logo {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  img {
    max-width: 100px;
    max-height: 75px;
    margin: 10px;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    &:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
    @include lg {
      max-height: 100px;
      max-width: 200px;
      opacity: 0.4;
      filter: alpha(opacity=40);
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
  li {
    display: inline-block;
    &:nth-child(2) {
      margin: 0 15px;
    }
    &:nth-child(3) {
      margin: 0 15px;
    }
    &:nth-child(4) {
      margin: 0 15px;
    }
    &:nth-child(5) {
      margin: 0 15px;
    }
  }
}
#recent-works {
  background-color: $brand-color;
  color: $secondary-text-color;
  padding: 100px 0;
  h3 {
    color: $secondary-text-color;
    margin: 0 0 15px;
    text-transform: uppercase;
  }
  .welcome-block {
    h3 {
      margin: 0 0 65px;
    }
    img {
      border: 3px solid $secondary-text-color;
      border-radius: 50%;
      margin-right: 35px;
      max-width: 100px;
    }
  }
  .message-body {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 70px;
  }
  .owl-controls {
    margin-top: 30px;
  }
  .owl-buttons {
    float: left;
  }
  .work-item {
    p {
      line-height: 20px;
      margin-top: 25px;
    }
  }
}
.phone-img {
  display: none;
}
.phone-img-active {
  display: block;
}
.recent-works {
  padding: 15px;
  a {
    color: $secondary-text-color;
  }
}
.project-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
  }
}
.portfolio-item {
  cursor: pointer;
  margin: 0 auto 10px;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  width: 280px;
  border-radius: 50px;
  img {
    max-width: 200%;
    height: auto;
    max-height: 300px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  &:hover {
    img {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
    figcaption.mask {
      bottom: 0;
    }
    ul.external {
      top: 0;
    }
    ul li a {
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
  @include rwd(500) {
    width: 48%;
  }
  @include md {
    margin: 0 1% 1% 0;
  }
  @include lg {
    width: 32%;
  }
}
figcaption.mask {
  background-color: rgba($dark-grey, 0.79);
  bottom: -107px;
  color: $secondary-text-color;
  padding: 13px 23px;
  position: absolute;
  width: 100%;
  text-align: left;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  h3 {
    margin: 0;
    color: $secondary-text-color;
  }
  p {
    padding-top: 5px;
  }
  @include rwd(480) {
    bottom: -132px;
  }
  @include md {
    bottom: -126px;
  }
  @include lg {
    bottom: -151px;
  }
}
ul.external {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 50px;
  top: -47px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  li {
    display: inline-block;
    a {
      background-color: $primary-background-color;
      color: $text-color;
      display: block;
      padding: 10px 18px 13px;
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      &:hover {
        background-color: $brand-color;
        color: $secondary-text-color;
      }
    }
  }
}
.fancybox-skin {
  border-radius: 0;
}
.fancybox-title.fancybox-title-inside-wrap {
  padding: 15px;
}
.fancybox-title {
  h3 {
    font-size: 20px;
    margin: 0 0 15px;
    @include md {
      font-size: 24px;
    }
  }
  p {
    color: $text-color;
    font-size: 14px;
    line-height: 22px;
    @include md {
      p {
        font-size: 16px;
      }
    }
  }
}
.fancybox-title-inside-wrap {
  padding-top: 0;
}
.fancybox-item.fancybox-close {
  background: #{image("icons/close.png")} no-repeat scroll 0 0 transparent;
  height: 50px;
  right: 0;
  top: 0;
  width: 50px;
}
.fancybox-next {
  span {
    background: #{image("right.png")} no-repeat scroll center center $brand-color;
    height: 50px;
    width: 50px;
    right: 0;
  }
}
.fancybox-prev {
  span {
    background: #{image("left.png")} no-repeat scroll center center $brand-color;
    height: 50px;
    width: 50px;
    left: 0;
  }
}
#testimonials {
  background-image: #{image("slider/Containerterminal-1.jpg")};
  padding: 0;
  color: $secondary-text-color;
  a {
    color: $secondary-text-color;
  }
  .overlay {
    background-color: rgba($brand-color, 0.78);
    padding: 70px 0 70px;
  }
  .owl-controls.clickable {
    margin-top: 20px;
    text-align: center;
  }
  .owl-buttons {
    border: 2px solid $secondary-text-color;
    float: inherit;
    margin-left: 12px;
  }
  .owl-prev {
    &:hover {
      color: $secondary-text-color;
    }
  }
  .owl-next {
    &:hover {
      color: $secondary-text-color;
    }
  }
}
.testimonial-item {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 85%;
  img {
    border: 3px solid $secondary-text-color;
    border-radius: 50%;
    display: inline-block;
    height: 150px !important;
    width: 150px !important;
  }
  .clearfix {
    line-height: 30px;
    position: relative;
    &:before {
      background-image: none;
      background-repeat: no-repeat;
      top: 50px;
      height: 33px;
      left: -35px;
      position: absolute;
      width: 45px;
      content: "";
      @include md {
        background-image: #{image("icons/quotes.png")};
      }
    }
    &:after {
      background-image: none;
      background-position: -58px 0;
      background-repeat: no-repeat;
      bottom: -50px;
      height: 33px;
      position: absolute;
      right: -35px;
      width: 45px;
      content: "";
      @include md {
        background-image: #{image("icons/quotes.png")};
        bottom: -35px;
      }
      @include lg {
        bottom: -40px;
      }
    }
    > span {
      display: inline-block;
      font-weight: 700;
      margin: 30px 0 20px;
      text-transform: uppercase;
      @include md {
        margin: 40px 0 0px;
      }
    }
  }
}
#testimonial {
  .sub-title {
    padding-bottom: 50px;
    font-style: italic;
  }
}
.testimonial-logo {
  margin-left: 25%;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  text-align: center;
  img {
    width: 100%;
    max-width: 175px;
  }
  li {
    @include md {
      margin-bottom: 30px;
    }
  }
  @include md {
    margin-left: 0;
  }
}
#clientsLogos {
  display: none !important;
  @include md {
    display: block !important;
  }
}
#clientsLogosMobile {
  display: block !important;
  @include md {
    display: none !important;
  }
}
.price-table {
  border: 1px solid $tertiary-text-color;
  border-radius: 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 4px 5px rgba($shadow-color, 0.19);
  -moz-box-shadow: 0 4px 5px rgba($shadow-color, 0.19);
  box-shadow: 0 4px 5px rgba($shadow-color, 0.19);
  > span {
    display: block;
    font-size: 24px;
    padding: 30px 0;
    text-transform: uppercase;
  }
  .value {
    background-color: $brand-color;
    color: $secondary-text-color;
    padding: 20px 0;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    img {
      height: auto;
      width: 40%;
      padding: 10px;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 0.7s ease 0s;
      -moz-transition: all 0.7s ease 0s;
      -ms-transition: all 0.7s ease 0s;
      -o-transition: all 0.7s ease 0s;
      transition: all 0.7s ease 0s;
      @include sm {
        width: 30%;
      }
      @include md {
        width: 40%;
        padding: 0;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    }
    span {
      display: inline-block;
      &:first-child {
        font-size: 32px;
        line-height: 32px;
      }
      &:nth-child(2) {
        font-size: 65px;
        line-height: 65px;
        margin-bottom: 25px;
      }
      &:last-child {
        font-size: 16px;
      }
    }
    @include md {
      background-color: $tertiary-text-color;
      color: $text-color;
    }
  }
  &:hover {
    .value {
      background-color: $brand-color;
      color: $secondary-text-color;
      img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
    ul {
      li {
        &:last-child {
          background-color: $brand-color;
          a {
            color: $secondary-text-color;
          }
        }
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      border-top: 1px solid $tertiary-text-color;
      padding: 25px 10px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      -webkit-transition: all 0.7s ease 0s;
      -moz-transition: all 0.7s ease 0s;
      -ms-transition: all 0.7s ease 0s;
      -o-transition: all 0.7s ease 0s;
      transition: all 0.7s ease 0s;
      a {
        display: block;
        text-transform: uppercase;
      }
      &:last-child {
        background-color: $brand-color;
        a {
          color: $secondary-text-color;
        }
        @include md {
          background-color: $secondary-text-color;
          a {
            color: $brand-color;
          }
          &:hover {
            background-color: $brand-color;
            a {
              color: $secondary-text-color;
            }
          }
        }
      }
    }
  }
  @include md {
    margin-bottom: 0;
    -webkit-box-shadow: 0 12px 12px 0 rgba($mid-grey, 0.6),
      0 6px 6px 0 rgba($mid-grey, 0.8), 0 2px 2px 0 $light-grey;
    -moz-box-shadow: 0 12px 12px 0 rgba($mid-grey, 0.6),
      0 6px 6px 0 rgba($mid-grey, 0.8), 0 2px 2px 0 $light-grey;
    box-shadow: 0 12px 12px 0 rgba($mid-grey, 0.6),
      0 6px 6px 0 rgba($mid-grey, 0.8), 0 2px 2px 0 $light-grey;
  }
}
.diff-item {
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 0;
  margin-top: 30px;
  color: rgba($dark-grey, 0.2);
  font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica,
    sans-serif;
  font-weight: lighter;
  font-size: 165px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.diff-container {
  &:hover {
    .diff-item {
      font-size: 185px;
      color: rgba($text-color, 0.1);
    }
  }
}
.diff-item-content {
  padding: 0 10px;
  @include lg {
    margin: 50px;
  }
}

.arrow-section-divider {
  max-height: 300px;
  fill: $secondary-text-color;
}

#layout-collage-fullwidth-bottom {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(20%, $brand-color),
    to($text-color)
  );
  background: -webkit-linear-gradient(top, $brand-color 20%, $text-color 100%);
  background: linear-gradient(180deg, $brand-color 20%, $text-color 100%);
  box-shadow: 150px -250px 200px $brand-color;
  padding: 0;
}

.floating-content {
  position: absolute;
}

.wave-layer-bkgnd {
  background-image: #{image("svg/wave.svg")};
}
