/**
 * File Name: _policy.scss
 * Description: Brightseed website theme policy page styling
 * Version: 1.0.0
 * Author: Carl Scrivener
 * Author URI: http://brightseed.io
 * Theme URI: http://brightseed.io
 *
 * Copyright: ©, 2020, Carl Scrivener. All rights reserved.
 */
.policy-container {
  margin: 75px auto;
  max-width: 800px;
  h1 {
    font-size: 46px;
    font-weight: 800;
  }
}
