/**
 * File Name: _button.scss
 * Description: Brightseed website theme button component styling
 * Version: 1.0.0
 * Author: Carl Scrivener
 * Author URI: http://brightseed.io
 * Theme URI: http://brightseed.io
 *
 * Copyright: ©, 2020, Carl Scrivener. All rights reserved.
 */
.btn {
  &:focus {
    text-decoration: none;
    outline: none;
    color: $brand-color;
  }
  border-radius: 100px;
  border: 2px solid $brand-color;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 55px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-secondary {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  background-color: $brand-color;
  box-shadow: 0 -2px 0 rgba($shadow-color, 0.15) inset;
  padding: 15px 55px;
  padding-top: 20px;
  color: $secondary-text-color;
}

.btn-border {
  border: 2px solid $secondary-text-color;
  color: $secondary-text-color;
  padding: 17px 55px 13px 55px;
}

.btn-effect {
  vertical-align: middle;
  box-shadow: 0 0 1px rgba($shadow-color, 0);
  position: relative;
  display: inline-block;
  &:hover {
    color: $brand-color !important;
    background: $primary-background-color;
  }
  &:focus {
    color: $brand-color !important;
    background: $primary-background-color;
  }
  &:active {
    color: $brand-color !important;
    background: $primary-background-color;
  }
}

.btn-icon-container-main {
  padding: 16px 70px 12px 25px !important;
}
.btn-border-icon-container {
  padding: 16px 73px 12px 25px !important;
}

.btn-icon {
  margin-left: 23px;
  margin-top: -13px;
  padding: 0 0 0 3px;
  border: 2px solid $secondary-text-color;
  border-radius: 50px;
  background-color: $primary-background-color;
  color: $brand-color;
  position: absolute;
  font-size: 36px;
}
.btn-icon-border {
  margin-left: 26px;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
