/**
 * File Name: _google-map.scss
 * Description: Brightseed website theme google-map component styling
 * Version: 1.0.0
 * Author: Carl Scrivener
 * Author URI: http://brightseed.io
 * Theme URI: http://brightseed.io
 *
 * Copyright: ©, 2020, Carl Scrivener. All rights reserved.
 */
#google-map {
  padding: 0;
}
#map-canvas {
  width: 100%;
  height: 300px;
}
