/**
 * File Name: _fonts.scss
 * Description: Brightseed website theme fonts
 * Version: 1.0.0
 * Author: Carl Scrivener
 * Author URI: http://brightseed.io
 * Theme URI: http://brightseed.io
 *
 * Copyright: ©, 2020, Carl Scrivener. All rights reserved.
 */

@font-face {
  font-family: "catamaran regular";
  src: #{font("Catamaran-Regular.eot")} format("embedded-opentype");
  src: #{font("Catamaran-Regular.eot?#iefix")} format("embedded-opentype");
  src: #{font("Catamaran-Regular.otf")} format("opentype");
  src: #{font("Catamaran-Regular.svg")} format("svg");
  src: #{font("Catamaran-Regular.woff2")} format("woff2");
  src: #{font("Catamaran-Regular.ttf")} format("truetype");
  src: #{font("Catamaran-Regular.woff")} format("woff");
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

@font-face {
  font-family: "questrial regular";
  src: #{font("Questrial-Regular.eot")} format("embedded-opentype");
  src: #{font("Questrial-Regular.eot?#iefix")} format("embedded-opentype");
  src: #{font("Questrial-Regular.otf")} format("opentype");
  src: #{font("Questrial-Regular.svg")} format("svg");
  src: #{font("Questrial-Regular.woff2")} format("woff2");
  src: #{font("Questrial-Regular.ttf")} format("truetype");
  src: #{font("Questrial-Regular.woff")} format("woff");
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
